.detailsContainer{
    position: absolute;
    top:0;
    width:80%;
    height:100%;
}
.details{
    width:100%;
    height:12%;
    background-color: var(--c1);
    position:relative;
}
.details .headerText{
    margin:5px;
    position: absolute;
    bottom:0px;
    left: 25px;
    background-color: rgba(0,0,0,0);
    color: var(--main-text-color);
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 150%;
}
.headerText h1 {
  margin:0px;
}
.h2Text{
    margin-left:12%;
    margin-bottom:70px;
    font-weight:200;
    color: var(--paragraph-text-color);
}
.text{
    padding: 30px;
    width:100%;
    height:100%;
    background-color:#302C2C;
    font-family: "Montserrat", sans-serif;
    color:var(--paragraph-text-color);
}
.text h1{
    margin-left:12%;
    margin-bottom:20px;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:60px;
}
