.day {
	width: 20%;
	height: 100%;
	background-color:var(--main-bg-color);
    display:flex;
    position:relative;
    flex-direction:column;
    align-items:center;
}

.dayTextContainer {
    position:relative;
    height:49px;
    width:100%;
}

.dayText {
    width:100%;
    position:absolute;
    bottom: -2px;
    text-align:center;
    color:var(--main-text-color);
	font-family: 'bebas_neueregular';
	font-size: 150%;
}
