.titleRegion{
    /* border-bottom:1px solid var(--main-text-color); */
    position:relative;
  height:15%;
  padding:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.titleRegionText{
  font-family: "bebas_neueregular";
  color:var(--main-text-color);
  font-size:1.6em;
  margin:0px;
  padding:0px;
  background-color:rgba(0,0,0,0);
}
