.field{
    width:calc(100% - 60px);
    margin-bottom:30px;
    margin-right: 60px;
    display:flex;
}
.fieldRegion{
    text-align:right;
    margin-right:10px;
    width:calc(13% - 10px);
}
.textRegion{
    width:88%;
}
.title{
    color: var(--h2-text-color);
    font-weight:400;
}
.fieldText{
    line-height:1.2em;
    font-weight:300;
}
.linkText{
    text-decoration: none;
    color: var(--paragraph-text-color);
}
.linkText:hover{
    font-weight:bold;
    color :var(--main-text-color);
}
