.detailsContainer{
    position: absolute;
    width:80%;
    height:80%;
}
.details{
    width:100%;
    height:15%;
    background-color: var(--c1);
    position:relative;
}
.details .headerText{
    margin:5px;
    position: absolute;
    bottom:0px;
    left: 20px;
    background-color: rgba(0,0,0,0);
    color: var(--main-text-color);
    font-family: 'bebas_neueregular', sans-serif;
    font-size: 150%;
}
.headerText h1 {
  margin:0px;
}
.text{
    width:100%;
    height:85%;
    background-color:#302C2C;

}
