.hour {
	position: relative;
	width: 100%;
	background-color: #25201B;
}

.hourText {
	position: absolute;
	top: 2px;
	right: 5px;
	font-family: 'bebas_neueregular';
	background-color: #25201B;
	color: white;
}
