html {
    --main-bg-color: #25201B;
    --main-text-color: white;
    --paragraph-text-color: #AAAAAA;
    --c1: #3F51B5;
    --c1Hover: #313F8C;
    --c2:#F44336;
    --c2Hover: #8C251D;
    --c3: #009688;
    --c3Hover: #008C7E;
    --c4: #FF9800;
    --c4Hover: #A66300;
    --c5: #673AB7;
    --c5Hover: #502D8C;
    height:100%;
}
body {
	display:flex;
	flex-direction:column;
	align-items:center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--main-bg-color);
  width:100%;
  height:100%;
}
